/* src/components/Moon.scss */
.moon {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 80px;
    height: 80px;
    z-index: 3;
  }
  
  .moon-svg {
    width: 100%;
    height: 100%;
  }
  