// src/components/WeatherBackground/_colors.scss
$primary: #607D8B;
$primary-light: #90A4AE;
$primary-dark: #455A64;

$secondary: #B0BEC5;
$secondary-light: #CFD8DC;
$secondary-dark: #78909C;

$white-soft: #ECEFF1;
$cloud-color: #CFD8DC;

$temperature-cold: #90CAF9;
$temperature-hot: #FFCCBC;
