// src/components/WeatherBackground/Rain.scss
@import "./_colors.scss";

.rain-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;

  // Para modo día: el degradado usa 180deg, con la parte superior transparente y la inferior opaca
  &.day {
    .rain-drop {
      background: linear-gradient(180deg, transparent, rgba(236,239,241,0.9));
    }
  }
  
  // Para modo noche: se utiliza otro color (puedes ajustar el valor)
  &:not(.day) {
    .rain-drop {
      background: linear-gradient(180deg, transparent, rgba(102,178,255,0.9));
    }
  }
}

.rain-drop {
  position: absolute;
  height: 15px;
  opacity: 0.9;
  border-radius: 2px;
}
