// src/components/WeatherBackground/Sun.scss
@import "./_colors.scss";

.sun-container {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 120px;
  height: 120px;
  zoom: 1.25;
  z-index: 3;
}

.sun {
  position: absolute;
  width: 100%;
  height: 100%;
  // Usamos la función desaturate para un tono más sobrio
  background: desaturate(#FFEB3B, 30%);
  border-radius: 50%;
  box-shadow: 0 0 30px 10px rgba(255, 235, 59, 0.3);
}

.sunburst {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
}
