// src/components/WeatherBackground/WeatherBackground.scss
@import "./_colors.scss";

.weather-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Overlay de nubosidad */
.cloudy-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 90, 100, 0.8);
  z-index: 2;
  pointer-events: none;
}
